composer.lock
/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
/draft.yaml
/.blueprint
.DS_Store
Thumbs.db

**/caddy
frankenphp
frankenphp-worker.php
